
/* 
    Color stuff
*/

/*Background color of the page is a light grey*/
html {
    background-color: #a9a9a9
}
/*Background color of the topmost elements will be tinged red?*/
body > * {
    background-color: red;
}
/*Background color of sections will be green, with reduced opacity*/
header, nav, main, section, aside, footer {
    background-color: rgba(0, 255, 0, .50);
}
/*Font color is...a dark grey/back, apparently*/
h1, h2, li, p {
    color: #2a2a2a;
}

/*
    Font sizing/placement
*/
h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 4rem;
    text-align: center;
}
h2 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 3rem;
    text-align: center;
}
p, li {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
}
nav span, nav a {
    font-size: 2rem;
}
header img {
    height: 60px;
}


/*
    Let's organize the header
*/
header {
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
    margin-bottom: 20px;
    border: 2px solid black;
}

h1 {
    flex: 4;
    text-transform: uppercase;
}

header img {
    display: block;
    align-self: center;
    margin: 2%;
}

nav {
    height: 50px;
    flex: 100%;
    display: flex;
}

nav ul {
    flex: 2;
    display: flex;
}

nav li {
    list-style-type: none;
    display: inline;
    text-align: center;
    flex: 1;
    align-self: center;
}

nav span, nav a {
    display: inline-block;
    line-height: 1.7;
    height: 3rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

/*
    Let's get the main text/sidebar sorted out
*/

main {
    display: flex;
    border-width: 4px;
    border-style: dashed;
    border-color: hotpink;
    border-radius: 4px;
    padding:1%;
}

section {
    flex:3;
}

aside  {
    flex: 1;
    margin-left: 10px;
}

aside a {
    display: block;
    float: left;
    width: 50%;
}

aside img{
    max-width: 100%;
}

footer {
    border: 2px solid black;
    margin-top: 10px;
    padding: 1%;
}